{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>Foodie Reviews</title>
  </head>
  <body>
    <a href="/posts">
      <h1>Foodie Reviews</h1>
    </a>
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.css">
    <hr />
    <a class="base" href="/posts">View All My Reviews!</a>
    <footer>All Rights Reserved, Foodie Reviews</footer>
  </body>
</html>